
<div id="scroll-area" class="iscroll-pages" scrollable parameters="{{ {
	snap: '.iscroll-page',
	momentum: false,
	vScroll: false,
	hScroll: true,
	hScrollbar: false,
	vScrollbar: false,
	bounce: true
} }}" curr-page-x="x" curr-page-y="y">
	<ul plus-resize>
		<li style="width: {{ window.width }}px">
			<div id="page-one" class="iscroll-page">
				<!-- Page One -->
				<img src="app/themes/agora/img/logo.png" class="logo" />
				<img src="app/themes/agora/img/signin.png" logged-out ng-click="login()" class="login" />
				<img src="app/themes/agora/img/slide.png" class="slide" />
			</div>
		</li>
		<li style="width: {{ window.width }}px">
			<div id="page-two" class="iscroll-page">
				<!-- Page Two -->
			</div>
		</li>
	</ul>
</div>