
#scroll-area{
	height: 100%;
}

.scroller{
	height: auto;
	min-height: 100%;
}

/*.scroller ul{
	padding: 0; margin:0;
	list-style-type: none;
}*/

.iscroll-pages .scroller{
	height: 100%;
	font: 18px/27px 'RobotoThin', Arial, sans-serif;
	
}

.iscroll-pages ul{
	width: 300%;
	height: 100%;
	margin: 0;
}

.iscroll-pages li{
	position: relative;
	float: left;
	display: block;
	height: 100%;
	/*
	 * We'll do some magic in the view to set the with of the li
	 * to the width of the window instead of 300% the width of it
	 * so that the li's will line up in a neat row, with one on the page at a time.
	 */
}

.iscroll-page{
	position: absolute;
	display: table;
	height: 100%;
	width: 100%;
}

.iscroll-page > div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.iscroll-page .ico-gesture{
	margin-top: 25px;
	/*opacity: 0.5;*/
	/*-webkit-filter: brightness(-10%); */
}
#map{
		height: 100%;
		width: 100%;
	}